[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BBEST"]
	path = BBEST
	url = https://github.com/cran/BBEST
	shallow = true
	registered = true
